head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title LibreScan
  // Bootstrap include
  link(href='/assets/css/bootstrap/bootstrap.css', rel='stylesheet')

  // Custom CSS
  link(href='/assets/css/index.css', rel='stylesheet', type='text/css')
  link(href='/assets/css/scan.css', rel='stylesheet', type='text/css')
  link(href='/assets/css/contactUs.css', rel='stylesheet', type='text/css')
  link(href='/assets/css/newProject.css', rel='stylesheet', type='text/css')
  link(href='/assets/css/outputPreview.css', rel='stylesheet', type='text/css')
  link(href='/assets/css/processingPhase.css', rel='stylesheet', type='text/css')
  link(href='/assets/css/showProjects.css', rel='stylesheet', type='text/css')
  link(href='/assets/css/modalPrepareCams.css', rel='stylesheet', type='text/css')
  link(href='/assets/css/jabiru.css',rel='stylesheet', type='text/css')
  link(href='/assets/css/noty/animate.css', rel='stylesheet', type='text/css')


  // Fontawesome include.
  link(href='/assets/css/fontawesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
