nav.navbar.navbar-default.navbar-static-top.custom-navbar.header-navbar
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#topbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.primary-font-color.logo(href='/')
        i.fa.fa-book
        |  LibreScan
    #topbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown.custom-dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
            | Guias
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#') Cómo escanear
            li
              a(href='#') Instalacion CHDK
            li
              a(href='#') Como armar el escaner
        li.dropdown.custom-dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
            | Idiomas
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='/language/spa') Español
            li
              a(href='/language/en') Ingles
            li
              a(href='/language/pt') Portugues
            li
              a(href='#') Guaraní
        li
          a(href='/contact') Contacto
        li
          a(href='/about') Acerca
