doctype html
html
  include ./layouts/head.jade
  body
    include ./layouts/topbar.jade

    main.main-container
      .row.main-photo-container
        .col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2
          .row
            .col-md-6.col-sm-6
              .box-photo
                a(href='#')
                  img#photo1.photo(src='/assets/images/cameraWatermark.png')
            .col-md-6.col-sm-6
              .box-photo
                a(href='#')
                  img#photo2.photo(src='/assets/images/cameraWatermark.png')
          .row
            .col-md-6.col-sm-6
              a(href='#')
                .capture-btn.action-btn
                  span= _('c_capture')
                    i.fa.fa-camera
            .col-md-6.col-sm-6
              a(href='#')
                .recapture-btn.action-btn.round.btn-disabled
                  span= _('c_repeat')
                    i.fa.fa-repeat
        #photo-modal.modal
          .modal-dialog
            .modal-content
              .modal-body
      a#check-ocr-btn.btn.btn-default.pull-right(href='/ocrs')= _('c_next')


    include ./layouts/footer.jade