doctype html
html
    head
        include ./layouts/head.jade
    body
        include ./layouts/topbar.jade
        main.main-container
          .container.main-button-container
                .image
                    img#page-image(src='/images/0')
                .text#text
                    textarea#page-text.textBox(cols='')
                .buttons
                    a#finish-btn.button(href="/outputPreview"): p: = _('op_finish')
                    #save-btn.button: p:= _('j_save')
                    #next-btn.button: p:= _('s_next')
                    #back-btn.button: p:= _('np_new_book_go_back')
        include ./layouts/footer.jade
