Source: librescan
Section: unknown
Priority: optional
Maintainer: Laboratorio Experimental ITCR <librescan@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://labexperimental-siua.github.io/LibreScan/

Package: librescan
Architecture: all
Depends: python3-pip, lua5.2, liblua5.2-0, git-svn, libusb-dev, python3, python-dev, libturbojpeg, libjpeg62, libjpeg62-dev, libssl-dev, libffi-dev, tesseract-ocr, tesseract-ocr-spa, scantailor, ruby, ruby-dev, ruby-rmagick
Description: Books scanning workflow.
 LibreScan es un proyecto de Software Libre desarrollado en el Laboratorio Experimental del Centro Académico de Alajuela, sede del Instituto Tecnológico de Costa Rica. Este proyecto de investigación consiste en la elaboración de un software que agrupa distintas herramientas que cumplen funciones específicas dentro del flujo de tareas necesarias para escanear un documento. El objetivo de LibreScan es promover el acceso libre al conocimento y la educación, al proveer un software libre y gratuito que permita realizar el proceso de captura de fotos, procesamiento y generación de un documento digital. Este proyecto está ligado al movimiento DIY Book Scanner, quienes se encargan de la elaboración de escáneres artesanales. LibreScan complementa esta iniciativa al aportar un software que automatiza el proceso de escaneo con este tipo de dispositivos.
