Package: librescan
Version: 1.1.0-0
Architecture: all
Maintainer: Laboratorio Experimental ITCR <librescan@gmail.com>
Installed-Size: 21239
Depends: python3-pip, lua5.2, liblua5.2-0, git-svn, libusb-dev, python3, python-dev, libturbojpeg, libjpeg62, libjpeg62-dev, libssl-dev, libffi-dev, tesseract-ocr, tesseract-ocr-spa, scantailor, ruby, ruby-dev, ruby-rmagick
Section: text
Priority: optional
Homepage: http://labexperimental-siua.github.io/LibreScan/
Description: Herramienta para digitalización de textos impresos
 LibreScan es un proyecto de Software Libre desarrollado en el Laboratorio
 Experimental del Centro Académico de Alajuela, sede del Instituto Tecnológico
 de Costa Rica cuyo objetivo es promover el acceso libre al conocimento y la
 educación, al proveer un software libre y gratuito que permita realizar el
 proceso de captura de fotos, procesamiento y generación de un documento
 digital. Este paquete provee las herramientas para facilitar el
 trabajo con los escáneres desarrollados por el proyecto "DIY Book Scanner",
 quienes desarrollan y elaboran de escáneres artesanales de bajo costo.
