p {
	text-align: center;
	color: white;
	padding-top: 10px
}
.imgJabiru {
	width: 450px;
	height: 640px;
}
.image {
	padding: 20px;
	margin: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 500px;
	float: left;
	background-color: #F2EEB3;
	-webkit-box-shadow: -1px 0px 17px 4px rgba(38,1,38,0.5);
	-moz-box-shadow: -1px 0px 17px 4px rgba(38,1,38,0.5);
	box-shadow: -1px 0px 17px 4px rgba(38,1,38,0.5);
	height: 680px;
    }
.text {
	padding: 20px;
	margin: 60px;
	margin-top: 70px;
	height: 640px;
	float: left;
	width: 450px;
	background: white;
	border-color: #F2BBE3;
}
.buttons {
	float: right;
}
.buttonJabiru {
	color: white;
	float: right;
	background-color: #8C6954;
	height: 50px;
	width: 120px;
	border-radius: 120px;
	margin-right: 30px;
	cursor: pointer;
}
.textBox{
	height: 600px;
	width: 410px;
}
