.project-box {
    box-sizing: border-box;
    border: 2px solid #2A2A2A;
    border-radius: 5px;
    min-height: 150px;
    padding: 10px;
    background-color: #e8e8e8;
    color: #2A2A2A;
    margin: 10px 0px 10px 0px;
        overflow: auto;
}

.project-info {
    width: 90%;
    float: left;
    margin-left: 10px;
}

.project-info h3 {
    font-weight: bold;
}

.project-info h6 {
    margin-top: 40px;
    color: #59323C;
}

.project-buttons {
    float: right;
    width: 30px;
    height: 60px;
}

.project-buttons a {
    width: 24px;
    border-radius: 3px;
}

.project-buttons a:hover {
    opacity: 0.5;
}

.remove-project-btn {
    display:block;
    margin-bottom: 40px;
    margin-top: 20px
}

.load-project-btn {
    display:block;
}

.showProjectError {
    margin-top: 40px;
    text-align: center;
    color: #F2F2F2;
}